h1 {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}

.left-part {
  margin: 20px;
  width: 30%;
}

.right-part {
  margin: 20px;
}

form {
  position: relative;
}

.left-part a {
  text-decoration: none;
  border: 3px solid black;
  padding: 3px 7px;
}

#head-container {
  display: flex;
  justify-content: space-around;
}

