body {
  background-color: bisque;
}

h1 {
  text-align: center;
}

.flex {
  display: flex;
}

main {
  justify-content: center;
}

.left-part {
  margin: 20px;
  width: 30%;
}

.right-part {
  margin: 20px;
}

form {
  flex-direction: column;
  align-items: flex-end;
}

.left-part a {
  text-decoration: none;
  border: 3px solid black;
  padding: 3px 7px;
  color: black;
}

.head-container {
  justify-content: space-around;
}

.head-container h2 {
  margin: 0 20px 0 0;
  padding-left: 0;
}

input {
  border: 3px solid black;
}

input::placeholder {
  color: black;
  font-weight: 900;
}

input[type="submit"] {
  color: black;
  font-weight: 900;
  background-color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  border: 3px solid black;
}

ul li {
  margin: 0;
  padding: 5px;
}

ul li:nth-child(even) { background-color: #fff; }

ul li:hover:nth-child(even) {
  background-color: gray;
  color: #fff;
}

ul li:hover:nth-child(odd) {
  background-color: rgb(147, 129, 96);
  color: #fff;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
}

#errDiv {
  display: none;
  padding: 5px;
  color: red;
}
